<div class="header">
    <h3 class="text-muted">waze</h3>
</div>
<h3 ng-if="!dataReceived">Loading Notifications...</h3>
<h3 ng-if="dataReceived">Showing: {{visibleNotifications}}</h3>
<div class="mapWrapper">
    <wz-not-list ng-if="dataReceived" notifications="notifications"></wz-not-list>
    <wz-map notifications="notifications"></wz-map>
</div>

<div class="footer">
    <p>♥ The smile of a dolphin is a built in feature ♥</p>
</div>
