<div class="noteListWrapper">
<div id="listHandle" ng-click="togglePanel($event)">List View</div>
<div class="listWrapper">
<div class="panel-group darkGroup" id="accordion">
<div ng-repeat="n in notifications | filter:{isVisible:true} | orderBy:'distance'" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a  ng-click="toggleCollapse($event , n)" data-collapse="collapse{{$index}}">
                {{n.title}}
            </a>
        </h4>
    </div>
    <div id="collapse{{$index}}" class="panel-collapse collapse">
        <div class="panel-body">
            <div wz-not notification="n"></div>
        </div>
    </div>
</div>
</div>
</div>
</div>