<form class="form-horizontal" role="form" style="width: 300px">
    <div class="form-group">
        <label class="col-sm-3 control-label">Title</label>

        <div class="col-sm-9">
            <input ng-model="notification.title" type="text" class="form-control" placeholder="Title">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Description</label>

        <div class="col-sm-9">
            <textarea ng-model="notification.description" class="form-control" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label"><span ng-if="notification.id">Votes</span></label>

        <div class="col-sm-9">
            <span ng-if="notification.id" ng-click="toggleVote()" class="glyphicon"
                  ng-class="{'glyphicon-star':notification.voted , 'glyphicon-star-empty':!notification.voted}">{{notification.votes_up}}</span>
            <button ng-click="save()" type="submit" class="btn btn-success" ng-if="!notification.id"
                    style="float: right">Save
            </button>
            <div ng-if="notification.id">
                <button ng-click="update()" type="submit" class="btn btn-primary btn-sm"style="float: right">Update</button>
                <button ng-click="delete()" type="submit" class="btn btn-danger btn-sm"style="float: right;margin-right: 5px">Delete</button>
            </div>
        </div>
    </div>
</form>