$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

/* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
/* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
/* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Common css for all media sizes*/

.map {
  height: 600px;
}

.container {
  max-width: 1170px;
}

.glyphicon-star-empty, .glyphicon-star {
  cursor: pointer;
  font-size: 25px;
  color: #CCC;
}

.glyphicon-star {
  font-size: 25px;
  color: #FFA724;
}

textarea {
  resize: none;
}

.mapWrapper {
  position: relative;
  overflow: hidden;
}

.listWrapper {
  position: absolute;
  right: 0;
  width: 350px;
  overflow-x: hidden;
  z-index: 1000;
  overflow-y: auto;
  height: 600px;
}

#listHandle {
  position: absolute;
  top: 285px;
  left: -40px;
  background: #333;
  height: 20px;
  width: 100px;
  z-index: 1000;
  color: #FFF;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}


.noteListWrapper {
  position: absolute;
  right: -350px;
  width: 370px;
  height: 580px;
  overflow: hidden;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.noteListWrapper.in{
  right: 0;
}

.darkGroup {
  padding: 5px;
  background: #333;
  min-height: 580px;
}

.collapse {
  display: block;
  height: 0;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.collapse.in {
  height: 220px;
}

.panel-title A {
  display: block;
  cursor: pointer;
}